 /* CSS Reset */
 * {
    margin: 0;
    padding: 0;
 }

 /* CSS Variables */
 :root {
    --navbar-height: 60px;
 }

 /* Navigation bar */

 #navbar {
    display: flex;
    align-items: center;
    /* justify contents daluga center mein lane ke liye */
    position: absolute;
    top: 0;
 }

 #navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
 }

 /*navigation bar: logo and image */

 #logo {
    margin: 10px 10px;
 }

 #logo img {
    /* height: 75px; */
    height: 110px;
    margin: 10px 29px;
 }

 /* navigation bar: list styling */

 /* #navbar{
    position: absolute;
    top: 0;
 } */
 #navbar::before {
    background-color: #ffffff;

 }

 #navbar ul {
    display: flex;
    font-family: 'Anton', 'sans-serif';
 }

 #navbar ul li {
    list-style: none;
    font-size: 1.5rem;
 }

 #navbar ul li a {
    color: rgb(0, 0, 0);
    display: block;
    padding: 3px 20px;
    border-radius: 20px;
    text-decoration: none;
 }

 #navbar ul li a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
 }

 /* Home section */
 #home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 700px;
    justify-content: center;
    align-items: center;
 }

 #home::before {
    content: "";
    position: absolute;
    /* background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('packageman.webp'); */
    background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('noodle.jpg');
    background-size: cover;
    background-position: center ;
    height: 700px;
    width: 100%;
    z-index: -1;
    opacity: 0.8; 
 }

 #home h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Sacramento', 'cursive';
    font-weight: bolder;
    text-shadow: 5px -3px 3px rgb(247 247 250);

 }

 #home p {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Cookie', 'cursive';

 }

 /* Service Section */
 .Services-container{
   /* background-color: #d2d3d3; */
   background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('geometric_shape_and_lines_background.jpg');
    background-size: cover;
    background-position: center ;
 }

 #services {
    margin: 1px;
    display: flex;

 }

 #services .box {
    border: 2px solid rgb(0, 0, 0);
    padding: 40px;
    margin: 3px 15px;
    border-radius: 23px;
    background-color: rgb(229, 229, 229);
    margin-bottom: 30px;
 }

 #services .box img {
    height: 160px;
    margin: auto;
    display: block;
 }

 #services .box p {
    font-size: 1.8rem;
    font-family: 'Cookie', 'cursive';
 }

 /* Client section */
#client-section{
height: 410px;
}
#client-section::before{
   content: "";
   position: absolute;
   background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('cyber-monday-retail-sales.jpg');
    background-size: cover;
    background-position: center ;
   /* background-color: #d2d3d3; */
   width: 100%;
   height: 54%;
   z-index: -1;
   opacity: 0.7;
   }
#clients{
 display: flex;
 justify-content: center;
 align-items: center;
}
.client-item{
padding: 34px;
}
#clients img{
  height: 120px;
  }

  /* Contact Section  */
#contact{
position: relative;
}
#contact::before{
   content: "";
   position: absolute;
   width: 100%;
   height: 100%;
   z-index: -1;
   opacity: 0.6;
   background-image:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('top-view-chat-bubbles-with-telephone-receiver-copy-space.jpg');
   background-size: cover;
   background-position: center ;
}

#contact-box{
   display: flex;
   justify-content: center;
   align-items: center;
   padding-bottom: 34px;
} 

#contact-box input,
#contact-box textarea{
   width: 100%;
   padding: 0.5rem;
   border-radius: 10px;
   font-size: 1rem;
}
#contact-box form{
   width: 40%;
}
#contact-box label{
   font-size: 2rem;
   font-family: 'Cookie', 'cursive';
}
footer{
   background: black;
   color: white;
   padding: 20px 20px;
   font-size: 30px;
   font-family: monospace;
}

 /* Utility class */
 .h-primary {
    font-family: 'Sacramento', 'cursive';
    font-size: 6rem;
    padding: 18px;
    
 }

 .h-primary1 {
   font-family: 'Sacramento', 'cursive';
   font-size: 5rem;
   padding: 30px;
   
}

 .h-secondary {
    font-family: 'Sacramento', 'cursive';
    font-size: 3rem;
    padding: 18px;
 }

 .btn {
    font-family: 'Courier New', Courier, monospace;
    padding: 6px 20px;
    border: 2px solid black;
    background-color: slategray;
    color: rgb(237, 232, 232);
    margin: 16px;
    font-size: 1.2rem;
    border-radius: 10px;
    cursor: pointer;
 }


 .center {
    text-align: center;
 }